---
import Document from "./Document.astro";
import Toc from "@/components/Toc.astro";

const { content, headings } = Astro.props;
---

<Document title={content.title}>
  <div class="hero">
    <h1>{content.title}</h1>
  </div>
  <div class="wide">
    <div class="container">
      <div class="grid">
        <div class="article">
          <slot />
        </div>
        <div>
          <Toc headings={headings} />
        </div>
      </div>
    </div>
  </div>
</Document>

<style is:inline>
  .hero {
    margin: 60px 0;
    padding: 60px 0;
    text-align: center;
    background: var(--gradient);
    color: white;
    font-size: 0.8em;
  }

  .wide {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .container {
    position: relative;
  }

  .grid {
    display: flex;
    gap: 20px;
  }
  .article {
    max-width: 960px;
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    padding: 40px 40px;
    border-radius: 1rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  .article h1 {
    font-size: 1.6rem;
    margin: 3rem 0 2rem 0;
    text-align: center;
  }
  .article h1::before {
    content: "🚀";
    margin-right: 0.5rem;
  }
  .article h2 {
    font-size: 1.5rem;
    padding-top: 120px;
    margin-top: -110px;
  }
  .article h3 {
    font-size: 1.2rem;
    margin: 2rem 0 1rem 0;
    display: flex;
    align-items: center;
    padding-top: 120px;
    margin-top: -110px;
  }
  .article h3::before {
    content: "📌";
    margin-right: 0.5rem;
  }

  .article p {
    margin: 0.5rem 0;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    line-height: 1.8rem;
  }

  .article ul {
    list-style: none;
    margin: 1rem 0.5rem;
  }
  .article ul li {
    margin: 0.5rem 0;
    line-height: 1.5rem;
  }
  .article ul li::before {
    content: "";
    display: inline-block;
    position: relative;
    top: -0.1rem;
    width: 0.3rem;
    height: 0.3rem;
    border-radius: 50%;
    background-color: var(--text-primary);
    margin-right: 1rem;
  }

  .article a {
    word-break: break-all;
  }
  .article p code {
    font-family: consolas;
    letter-spacing: 0;
    background: #eee;
    padding: 0.1rem 0.4rem;
    border-radius: 0.2rem;
  }
  .article img {
    max-width: 100%;
    margin: 1rem 0;
    border-radius: 0.7rem;
  }
  .astro-code {
    display: block;
    margin: 1rem 0 2rem 0;
    padding: 1rem;
    border-radius: 0.7rem;
  }
  .article blockquote {
    border-left: 4px solid #ffffff;
    border-image: linear-gradient(to bottom, #06daff 0%, #3c69ff 100%);
    border-image-slice: 1;
    padding-left: 1rem;
    margin-left: 0;
  }

  @media (max-width: 768px) {
    .wide {
      padding: 0 10px;
    }
    .grid {
      flex-direction: column;
    }
    .article {
      padding: 20px 10px;
    }
  }
</style>
