---
import Document from "./Document.astro";

const { content } = Astro.props;
---

<Document title={content.title}>
  <div class="article">
    <slot />
  </div>
</Document>

<style is:inline>
  .article {
    max-width: 768px;
    margin: 100px auto 0 auto;
    padding: 2rem 2rem;
    background-color: var(--bg-paper);
    border-radius: 1rem;
  }

  .article h1 {
    font-size: 2rem;
  }

  .article p {
    margin: 0.5rem 0;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    line-height: 1.8rem;
  }

  .article a {
    word-break: break-all;
  }

  .article p code {
    font-family: consolas;
    letter-spacing: 0;
    background: #eee;
    padding: 0.1rem 0.4rem;
    border-radius: 0.2rem;
  }

  .article img {
    max-width: 100%;
    margin: 1rem 0;
    border-radius: 0.7rem;
  }

  .astro-code {
    margin: 1rem 0 2rem 0;
    padding: 1rem;
    border-radius: 0.7rem;
  }

  .article blockquote {
    border-left: 4px solid #ffffff;
    border-image: linear-gradient(to bottom, #06daff 0%, #3c69ff 100%);
    border-image-slice: 1;
    padding-left: 1rem;
    margin-left: 0;
  }

  @media (max-width: 800px) {
    .article {
      margin: 80px 10px 0 10px;
      padding: 10px;
    }
    .article h1 {
      font-size: 1.5rem;
    }
  }
</style>
